In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [3]:
# Import our input dataset
tele_df = pd.read_csv('Resources/bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [4]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()

In [9]:
tele_df[tele_cat].head()

,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,other,married,Primary_Education,no,no,no,no
1,services,married,Secondary_Education,no,yes,no,no
2,admin,married,Primary_Education,no,no,no,no
3,services,married,Secondary_Education,no,no,yes,no
4,admin,married,Professional_Education,no,no,no,no

In [5]:
# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [11]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))
encode_df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [12]:
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [14]:
# Remove Subscribed_yes target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

In [17]:
y

array([0., 0., 0., ..., 0., 1., 0.])

In [18]:
X

array([[56.,  0.,  0., ...,  0.,  1.,  0.],
       [37.,  0.,  0., ...,  1.,  1.,  0.],
       [40.,  1.,  0., ...,  0.,  1.,  0.],
       ...,
       [56.,  0.,  0., ...,  1.,  1.,  0.],
       [44.,  0.,  0., ...,  0.,  1.,  0.],
       [74.,  0.,  0., ...,  1.,  1.,  0.]])

In [24]:
len(X)

30477

In [26]:
len(X[0])

23

In [15]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [19]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [20]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Create the SVM model
svm = SVC(kernel='linear')

In [22]:
# Train the model
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [23]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [27]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 

# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 22857 samples
Epoch 1/50
22857/22857 [==============================] - 2s 71us/sample - loss: 0.4260 - accuracy: 0.8433
Epoch 2/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3708 - accuracy: 0.8735
Epoch 3/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3684 - accuracy: 0.8734
Epoch 4/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3673 - accuracy: 0.8736
Epoch 5/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3663 - accuracy: 0.8734
Epoch 6/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3657 - accuracy: 0.8732
Epoch 7/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3654 - accuracy: 0.8736
Epoch 8/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3649 - accuracy: 0.8731
Epoch 9/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3645 - accuracy: 0.8736
Epoch 10/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3642 - accuracy: 0.8735s - loss:
Epoch 11/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3639 - accuracy: 0.8735
Epoch 12/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3637 - accuracy: 0.8735
Epoch 13/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3636 - accuracy: 0.8732
Epoch 14/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3636 - accuracy: 0.8738s - loss: 0.361
Epoch 15/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3632 - accuracy: 0.8733
Epoch 16/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3631 - accuracy: 0.8736
Epoch 17/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3628 - accuracy: 0.8734
Epoch 18/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3625 - accuracy: 0.8733
Epoch 19/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3628 - accuracy: 0.8740
Epoch 20/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3628 - accuracy: 0.8732
Epoch 21/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3626 - accuracy: 0.8736
Epoch 22/50
22857/22857 [==============================] - 1s 44us/sample - loss: 0.3624 - accuracy: 0.8739
Epoch 23/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3623 - accuracy: 0.8737
Epoch 24/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3624 - accuracy: 0.8736s - loss: 0.3577
Epoch 25/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3625 - accuracy: 0.8734
Epoch 26/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3624 - accuracy: 0.8740
Epoch 27/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3623 - accuracy: 0.8734
Epoch 28/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3623 - accuracy: 0.8736
Epoch 29/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3622 - accuracy: 0.8734
Epoch 30/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3620 - accuracy: 0.8736s - loss: 0.3632 - accuracy
Epoch 31/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3622 - accuracy: 0.8734
Epoch 32/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3623 - accuracy: 0.8736
Epoch 33/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3622 - accuracy: 0.8735
Epoch 34/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3619 - accuracy: 0.8737
Epoch 35/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3620 - accuracy: 0.8737
Epoch 36/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3619 - accuracy: 0.8736
Epoch 37/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3621 - accuracy: 0.8739
Epoch 38/50
22857/22857 [==============================] - 1s 39us/sample - loss: 0.3618 - accuracy: 0.8739
Epoch 39/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3619 - accuracy: 0.8735
Epoch 40/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3618 - accuracy: 0.8740
Epoch 41/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3618 - accuracy: 0.8735
Epoch 42/50
22857/22857 [==============================] - 1s 45us/sample - loss: 0.3616 - accuracy: 0.8736
Epoch 43/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3619 - accuracy: 0.8739
Epoch 44/50
22857/22857 [==============================] - 1s 51us/sample - loss: 0.3619 - accuracy: 0.8736
Epoch 45/50
22857/22857 [==============================] - 1s 49us/sample - loss: 0.3618 - accuracy: 0.8736
Epoch 46/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3618 - accuracy: 0.8737
Epoch 47/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3617 - accuracy: 0.8733
Epoch 48/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3618 - accuracy: 0.8738
Epoch 49/50
22857/22857 [==============================] - 1s 42us/sample - loss: 0.3616 - accuracy: 0.8738
Epoch 50/50
22857/22857 [==============================] - 1s 46us/sample - loss: 0.3615 - accuracy: 0.8735
7620/7620 - 0s - loss: 0.3676 - accuracy: 0.8732
Loss: 0.36756663147232976, Accuracy: 0.8732283711433411